@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  transition: all 0.5s ease;
}
.sidebar.active {
  width: 240px;
}
.logo-icon {
  width: 28px;
  height: 28px;
}
.sidebar .logo-content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.sidebar.active .logo-content .logo {
  opacity: 1;
  pointer-events: none;
}
.logo-content .logo i {
  font-size: 28px;
  margin-right: 5px;
}
.logo-content .logo .logo__name {
  font-size: 20px;
  font-weight: 400;
  margin-left: 8px;
}
.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}
.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}
.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .link-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .link-name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar .profile-content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}
.sidebar .profile-content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  transition: all 0.5s ease;
  background: none;
}
.sidebar.active .profile-content .profile {
  background: #1d1b31;
}
.profile-content .profile .profile__details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.sidebar.active .profile .profile__details {
  opacity: 1;
  pointer-events: auto;
}
.profile .profile__details .name-job {
  margin-left: 10px;
}
.profile .profile__details .name {
  font-size: 15px;
  font-weight: 400;
}
.profile .profile__details .job {
  font-size: 12px;
}
.profile #log-out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
}
.sidebar.active .profile #log-out {
  left: 90%;
  background: none;
}
.home-content {
  position: absolute;
  left: 78px;
  width: calc(100% - 78px);
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1677297680059-a0061c35d894?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-content {
  width: calc(100% - 240px);
  left: 240px;
}
.home-content .text {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  margin: 12px;
}




html {
  height: 200%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'lato',sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px; }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

/*--------------------
 App
 --------------------*/
/*--------------------
 App
 --------------------*/
.search-form {
  position: relative;
  top: 95%;
  left: 25%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background-color: var(--body-color);
  transition: all 0.3s ease;
}

.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 10px;
  background: none;
  color: var(--text-color);
  width: 195px;
  height: 20px;
  border: none;
  outline: none;
}

#chat_container {
  position: relative;
  top: 50px;
  left: 200px;
  font-size: 5px;
}

#app {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
textarea {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: white;
  width: 195px;
  height: 20px;
  border: none;
  outline: none;
  overflow: hidden;
  resize: none;
}

#chat_container {
  flex: 1;
  width: 150%;
  height: 50%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {

}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  top: 100px;
  
}

.profile { 
width: 45px; 
height: 45px;
 border-radius: 5px; 
display: flex; 
justify-content: center; 
align-items: center; 
z-index: 555;
} 
.profile img 
{ 
width: 90%; 
height: 90%; 
object-fit: contain; 
z-index: 555;
position: relative;
left: 400px;
}

.message {
  flex: 1;

  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 20px;

  max-width: 50%;
  z-index: 555;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  position: relative;
  left: 400px;
}

/* hides scrollbar */
@media screen and (max-width: 700px) {
  .search-form {
    position: relative;
    top: 95%;
    left: 60%;
    width: 300px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    transition: all 0.3s ease;
  }
  .chat {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    top: 100px;
    
  }
  
  .profile { 
  width: 100px; 
  height: 30px;
   border-radius: 5px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 555;
  position: relative;
  left: 20px;
  } 
  .profile img 
  { 
  width: 100%; 
  height: 80%; 
  object-fit: contain; 
  z-index: 555;
  position: relative;
  left: -30px;
  }
  
  .message {
    flex: 1;
  
    color: white;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
    font-size: 10px;
  
    max-width: 20%;
    z-index: 555;
    position: relative;
    left: -40px;
  
    /*
     * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
     * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
     * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
     * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
    */
    white-space: pre-wrap; 
  
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* hides scrollbar */
  .message::-webkit-scrollbar {
    display: none;
  }
  .text {
    position: relative;
    left: 65px;

  }

.search-form {
    position: relative;
    top: 95%;
    left: 30%;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    transition: all 0.3s ease;
  }
  .search-input {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 5px;
    background: none;
    color: white;
    width: 195px;
    height: 20px;
    border: none;
    outline: none;
  }
}